<!DOCTYPE HTML>
<!-- External CSS Lab -->

<html>
<head>
    <title>template</title>
    <link rel="stylesheet" href="template.css">
</head>

<body>
    <div class="topnav">
      <a href="account.htm" style="float: left;">My Account</a>
      <a href="sell.htm" style="float: left;">Sell</a>
      <a class="active" href="store.htm" style="float: left;">Store</a>
      <a href="cart.htm" style="float: right;">Cart</a>
      <a href="signin.htm" style="float: right;">Sign In</a>
    </div>
</body>
</html>